<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<!--add name="PictreMSSQLConnection" connectionString="Data Source=CAWINNEO;Initial Catalog=Pictre;Persist Security Info=True;User ID=sa;Password=1qaz2wsx@;" providerName="System.Data.SqlClient" /-->
		<add name="PictreMSSQLConnection" connectionString="Data Source=CAWINNEO;Initial Catalog=Pictre;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
		<add key="PictreServicesBaseAddress" value="http://localhost:1893/Service.svc"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" maxReceivedMessageSize="500000" />
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfig">
					<security mode="None">
						<transport clientCredentialType="None"/>
						<message clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="soapBehavior">
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="1000" maxConcurrentInstances="1160"/>
					<dataContractSerializer maxItemsInObjectGraph="655360000"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="UoW.Pictre.CoreService.Service">
				<!--endpoints for user service-->
				<endpoint address="userRest"
						  behaviorConfiguration="webHttpBehavior"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpBindingWithJsonP"
						  contract="UoW.Pictre.CoreService.IUserService"/>

				<!--endpoint address="userSoap"
						  behaviorConfiguration="soapBehavior"
						  binding="wsHttpBinding"
						  bindingConfiguration="wsHttpBindingConfig"
						  contract="UoW.Pictre.CoreService.IUserService"/-->

				<!--endpoints for friend service-->
				<endpoint address="friendRest"
								  behaviorConfiguration="webHttpBehavior"
								  binding="webHttpBinding"
								  bindingConfiguration="webHttpBindingWithJsonP"
								  contract="UoW.Pictre.CoreService.IFriendService"/>
				<!--endpoints for friend service-->
				<endpoint address="PhotoRest"
								  behaviorConfiguration="webHttpBehavior"
								  binding="webHttpBinding"
								  bindingConfiguration="webHttpBindingWithJsonP"
								  contract="UoW.Pictre.CoreService.IPhotoService"/>

				<!--endpoint address="userSoap"
						  behaviorConfiguration="soapBehavior"
						  binding="wsHttpBinding"
						  bindingConfiguration="wsHttpBindingConfig"
						  contract="UoW.Pictre.CoreService.IFriendService"/-->
				<!--endpoints for likes service-->
				<endpoint address="likesRest"
								  behaviorConfiguration="webHttpBehavior"
								  binding="webHttpBinding"
								  bindingConfiguration="webHttpBindingWithJsonP"
								  contract="UoW.Pictre.CoreService.ILikesService"/>

				<!--endpoint address="userSoap"
						  behaviorConfiguration="soapBehavior"
						  binding="wsHttpBinding"
						  bindingConfiguration="wsHttpBindingConfig"
						  contract="UoW.Pictre.CoreService.ILikesService"/-->

				<!-- endpoint for tag service-->
				<endpoint address="TagsRest"
					  behaviorConfiguration="webHttpBehavior"
								  binding="webHttpBinding"
								  bindingConfiguration="webHttpBindingWithJsonP"
								  contract="UoW.Pictre.CoreService.ITagService" />

				<!--endpoints for Security service-->
				<endpoint address="securityRest"
						  behaviorConfiguration="webHttpBehavior"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpBindingWithJsonP"
						  contract="UoW.Pictre.CoreService.ISecurityService"/>

				<!--endpoint address="userSoap"
						  behaviorConfiguration="soapBehavior"
						  binding="wsHttpBinding"
						  bindingConfiguration="wsHttpBindingConfig"
						  contract="UoW.Pictre.CoreService.ISecurityService"/-->

			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>
