<?xml version="1.0"?>
<configuration>

	<appSettings>
		<add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.6.1" />
		<httpRuntime targetFramework="4.6.1"/>
	</system.web>
	<system.serviceModel>
		<bindings>
			<webHttpBinding>
				<binding name="webHttpBindingWithJsonP" crossDomainScriptAccessEnabled="true" />
			</webHttpBinding>
			<wsHttpBinding>
				<binding name="wsHttpBindingConfig">
					<security mode="None">
						<transport clientCredentialType="None"/>
						<message clientCredentialType="None"/>
					</security>
				</binding>
			</wsHttpBinding>
		</bindings>
		<behaviors>
			<endpointBehaviors>
				<behavior name="webHttpBehavior">
					<webHttp helpEnabled="true" />
				</behavior>
				<behavior name="soapBehavior">
				</behavior>
			</endpointBehaviors>
			<serviceBehaviors>
				<behavior>
					<serviceMetadata httpGetEnabled="true" />
					<serviceDebug includeExceptionDetailInFaults="true"/>
					<serviceThrottling maxConcurrentCalls="100" maxConcurrentSessions="1000" maxConcurrentInstances="1160"/>
					<dataContractSerializer maxItemsInObjectGraph="655360000"/>
				</behavior>
			</serviceBehaviors>
		</behaviors>
		<serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
		<services>
			<service name="UoW.Pictre.CoreService.Service">
				<!--endpoints for user service-->
				<endpoint address="userRest"
						  behaviorConfiguration="webHttpBehavior"
						  binding="webHttpBinding"
						  bindingConfiguration="webHttpBindingWithJsonP"
						  contract="UoW.Pictre.CoreService.IUserService"/>

				<endpoint address="userSoap"
						  behaviorConfiguration="soapBehavior"
						  binding="wsHttpBinding"
						  bindingConfiguration="wsHttpBindingConfig"
						  contract="UoW.Pictre.CoreService.IUserService"/>
			</service>
		</services>
	</system.serviceModel>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
		<!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
		<directoryBrowse enabled="true"/>
	</system.webServer>

</configuration>