
.rect {
    width: 600px;
    height: 600px;
    position: relative;
    border: 1px solid grey;
    margin: auto;
}

.usernameDiv {
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 2px !important;
}

.img-circle {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 3px;
}

.checkinclass {
    margin-top: 2px !important;
    margin-left: 10px;
}

.cloud {
    position: relative;
    display: inline-block;
    left: 10px;
    font-size: 30px !important;
}

    .cloud:after {
        content: "favorite_border";
    }


.filterbutton {
    display: inline-block;
    border-radius: 4px;
    background-color: #f4511e;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    margin-left: 50px;
}

    .filterbutton span {
        cursor: pointer;
        display: inline-block;
        position: relative;
        transition: 0.5s;
    }

        .filterbutton span:after {
            content: '\00bb';
            position: absolute;
            opacity: 0;
            top: 0;
            right: -20px;
            transition: 0.5s;
        }

    .filterbutton:hover span {
        padding-right: 25px;
    }

        .filterbutton:hover span:after {
            opacity: 1;
            right: 0;
        }

.detailBox {
    width: 599px;
   // height:83px;
    border: 1px solid #bbb;
}

.titleBox {
    background-color: #fdfdfd;
    padding: 10px;
}

    .titleBox label {
        color: #444;
        margin: 0;
        display: inline-block;
    }

.commentBox {
    padding: 10px;
    border-top: 1px dotted #bbb;
}

    .commentBox .form-group:first-child, .actionBox .form-group:first-child {
        width: 80%;
    }

    .commentBox .form-group:nth-child(2), .actionBox .form-group:nth-child(2) {
        width: 18%;
    }

.actionBox .form-group * {
    width: 100%;
}

.taskDescription {
    margin-top: 10px 0;
}

.commentList {
    padding: 0;
    list-style: none;
    max-height: 200px;
}

    .commentList li {
        margin: 0;
        margin-top: 10px;
    }

        .commentList li > div {
            display: table-cell;
        }

.commenterImage {
    width: 30px;
    margin-right: 5px;
    height: 100%;
    float: left;
}

    .commenterImage img {
        width: 100%;
        border-radius: 50%;
    }

.commentText p {
    margin: 0;
}

.sub-text {
    color: #aaa;
    font-family: verdana;
    font-size: 11px;
}

.actionBox {
    border-top: 1px dotted #bbb;
    padding: 10px;
    height: 103px;
    overflow:auto;
}

input[type="text"], input[type="password"], input[type="email"], input[type="tel"], input[type="select"] {
    max-width:580px !important;
}

.inputcomment {
  //  margin-left: -10px;
    display:inline;
}

.btncomment {
  //  margin-right: -10px;
}